<!-- Brand Start -->
<div class="brand">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4">
        <div class="b-logo">
          <a
            href="${properties.logoLink}.html"
            target="${properties.openInNewTab ? '_blank' : ''}"
          >
            <img
              src="${properties.logoImage}"
              alt="${properties.logoAltImage}"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-4">
        <div class="b-ads">
          <a href="${properties.adsLink}">
            <img
              data-sly-attribute.src="${properties.adsImage}"
              data-sly-attribute.alt="${properties.adsAltText}"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="b-search">
          <input
            type="text"
            placeholder="${properties.searchPlaceholder @ context='text'}"
          />
          <button><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Brand End -->
